:root {

    --primary-color: #05668d;
    --secondary-color: #427aa1;
    --accent1-color: #ebf2fa;
    --accent2-color: #679436;
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}
body {
    max-width: 960px;
    margin: 0 auto;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    
    color: var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

p {
    color: var(--accent2-color);
}

a {
    text-decoration: none;
}

/* a img {

    height: 40px;
    width: 40px;

} */

header {
    margin: 1rem auto;
    display: grid; 
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo {
    margin-right: 100px;
    width: 150px;
    height: auto;
}

nav {
    text-align: right;
    justify-content: center;
}

.navigation {
    display: flex; 
    list-style: none;
    gap: 20px; 
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 700;
	text-decoration: underline;
}
/* 
.social-icons {
    display: flex;

} */

.social-icons img {
    width: 30px;
    height: auto;
}